#root {
  overflow: hidden;
}

@import 'antd/dist/antd.min.css';
@import '~gleap/build/index.min.css';

.react-horizontal-scrolling-menu--scroll-container {
  display: flex;
  height: max-content;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  position: relative;
  width: 100%;
}
