#root {
  overflow: hidden;
}

@import 'antd/dist/antd.min.css';
@import '~gleap/build/index.min.css';

.react-horizontal-scrolling-menu--scroll-container {
  display: flex;
  height: max-content;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  position: relative;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* .react-player > div {
  position: absolute;
} */

.video-wrapper {
  /* height: 100%; */
  width: 100%;
  min-height: 225px !important;
  max-height: 225px !important;
  border-radius: 15px !important;
}

.ce-block__content {
  position: relative;
  max-width: 100%;
  width: 200%;
  -webkit-transition: background-color 0.15s ease;
  transition: background-color 0.15s ease;
}

.ce-toolbar {
  left: 10;
  right: 0;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
  will-change: opacity, top;
  /* display: none; */
}

.ce-toolbar__content {
  /* max-width: 650px; */
  /* margin: 0 auto; */
  margin-left: -5px;
  position: block !important;
}
