.ant-picker-input {
    text-align: center !important;
}

.ant-select-selector {
    border-radius: 15px !important;
}

.ant-select .ant-select-selector {
    padding: 0px 15px !important;

}

.ant-select-open .ant-select-selector {
    border-radius: 15px !important;
}

.ant-select-selection-item {
    font-size: 14px;
}